body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}


/***************** navbar  ******************/

.dropdown-item {
  font-size: 18px;
  padding-left: 25px;
  color: #fff;
  text-transform: uppercase;
}
.nav-item {
  font-size: 18px;
  padding-left: 25px;
}

.navbar-expand-lg .navbar-nav .nav-link:link,
.navbar-expand-lg .navbar-nav .nav-link:visited {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:active {
  border-bottom: 2px solid gray;
}

.navbar-toggler {
  background: rgb(112, 109, 109) !important;
}

/******************************* header index.html  ********************************/

.main-title {
  margin: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.main-title2 {
  margin: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url(image/carousel_img1.webp);

  height: 100vh;
  background-size: cover;
  background-position: center;
}

.contenu {
  padding-top: 35%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.bordure {
  border: 22px outset whitesmoke;
  border-radius: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
/* ************************************************ SECTION INDEX ******************************************** */
.section {
  background: #ffffff;
  background: linear-gradient(176deg,#ffffff 0%, #9eb5cd 80%);
  background: -webkit-linear-gradient(176deg,#ffffff 0%, #9eb5cd 80%);
  background: -moz-linear-gradient(176deg,#ffffff 0%, #9eb5cd 80%);  
}
/* ********** ARTICLE A PROPOS DE MOI ******** */

.article {
  background-color: #245e71;
}

.contenu1,
.photodeprofil2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding:15px;
}

.textepresentation {
  
  padding: 5% 5%;
  
  text-align: center;
  font-weight: 600;
  color: white;
}

.apropos {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  text-shadow: 13px 0px 18px rgba(26, 24, 24, 0.45);
  border-top: 15px ridge whitesmoke;    
}

.rounded-circle {
  height: 75%;
  border: 10px ridge #f5f5f5;
  
} 
/* ********** FIN ARTICLE A PROPOS DE MOI ******** */
/* ********** ARTICLE FORMATION ******** */
.apropos2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(32, 31, 31);
  padding-top: 5%;
  padding-bottom: 2%;
  text-shadow: 13px 0px 18px rgba(26, 24, 24, 0.45);
  
}

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 17%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}
/* ********** FIN ARTICLE FORMATION ******** */
/* ********** ARTICLE COMPETENCES ******** */
h4{
  padding-top: 50px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 700;
}
.box{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px
}

.our-services{
  margin-top: 75px
  ;padding-bottom: 30px;
  padding: 0 60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20,27,202,.17)
}
.our-services .icon{
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center
}
.our-services:hover h4, .our-services:hover p{
  color: #fff
}
.speedup:hover
{ box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
  }
  .settings:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
  }
  .privacy:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
  }
  .backups:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
  }
  .ssl:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
  }
  .database:hover{
    box-shadow: 0 0 25px 0 rgba(20,27,201,.05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
  }
/* ********** FIN ARTICLE COMPETENCES ******** */
/* ********** ARTICLE EXPERIENCE PROFESSIONNELLE ******** */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
  text-align: center
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

a.btn {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.table th {
  background-color: #245e71;
  color: #fff;
}
.table td {
  border: 1px solid #245e71;
}

/* Utilisez des icônes pour les boutons */
a.btn {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: #fff;
  background-color: #245e71;
  border-radius: 10px;
  
}

/* Utilisez des animations pour les boutons */
a.btn:hover {
  background-color: #113b49;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* Utilisez des animations pour les changements de couleur lorsque la souris passe sur les boutons */
tr:hover {
  background-color: #f5f5f5;
  transition: all 0.2s ease-in-out;
}
/* ********** FIN ARTICLE EXPERIENCE PROFESSIONNELLE ******** */
/* ********** ARTICLE Centre d'interet ******** */

.container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.interet {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 2px;
}

.card .face.front-face {
    font-size: 0.8rem;
    color: black;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
.article5 {
  padding-bottom: 20px;
}

/* ********** FIN ARTICLE EXPERIENCE PROFESSIONNELLE ******** */
/* ************************************************ FIN SECTION INDEX ******************************************** */

/* ************************************************ COMPETENCES.HTML ******************************************** */
.body_competences {
  
  background-color: #245e71;
}
.section_competences {
  margin-top: 70px;
}

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.aproposcompetences {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  text-shadow: 13px 0px 18px rgba(26, 24, 24, 0.45);
}

/* ************************************************ LIEN_UTILES.HTML ******************************************** */

.bakcground_lienutiles {
  background-color: #245e71;

}

.aproposliensutiles {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: whitesmoke;
  padding-top: 7%;
  padding-bottom: 2%;
  text-shadow: 13px 0px 18px rgba(26, 24, 24, 0.45);
}

.offcanvas-body{
  color: whitesmoke; 
}
.offcanvas-title{
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}
.reseau {
  padding-bottom: 20px;
  
  color: whitesmoke;
  text-decoration: none;
  

}