
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
footer {
    background: white;
    padding-top: 5px;
}

/***************** navbar  ******************/

.bg-light,
.navbar-expand-lg .navbar-nav .dropdown-menu{
    
    background: rgba(34, 33, 33, 0.712) !important;
    
}

.dropdown-item{
    font-size: 18px;
    padding-left: 25px;
    color: #fff;
    text-transform: uppercase;
    
}
.nav-item{
    font-size: 18px;
    padding-left: 25px;
}


.navbar-expand-lg .navbar-nav .nav-link:link,
.navbar-expand-lg .navbar-nav .nav-link:visited {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:active {
    border-bottom: 2px solid gray;

}

.navbar-toggler {
    background:rgb(112, 109, 109) !important;

}

/******************************* header  ********************************/

.main-title{
    margin: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    
}
.main-title2{
    margin: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
}
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(image/carousel_img1.webp);
    
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.contenu {
    padding-top: 35%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    
    
}
.bordure {
    border: 22px outset  whitesmoke;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
}
/* *************************** SECTION INDEX ********************* */

.section {
    background-color: #245e71;
    
}
.contenu1{
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    padding: 3rem;
    
   
}
.contenu2{
    padding: 3rem;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.textepresentation{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5% 5%;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.329);
    text-align: center;
    font-weight: 600;
    color: white;
}

h2 {
    text-align: center;
    text-transform: uppercase ;
    font-weight: 600;
    color: white;
    padding-top: 2%;
    text-shadow: 13px 0px 18px rgba(26,24,24,0.45);
}


.card {
    
    border: 2px solid black;
    background-color: #245e71;
}
    
.card-body {
    text-align: center;
    font-weight: 600;
    color: white;

}


/* -------------------------COMPETENCES--------------------------- */
.body_competences{
    height: 100vh;
    background-color: #245e71;
}
.section_competences { 
    margin-top: 15%;
}
